.sign-container {
  width: 100%;
  min-height: 900px;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;

  .sign-card {
    width: 500px;
    min-height: 500px;
  }
  .btn-text {
    font-size: 16px;
  }
  .btn-main {
    width: 100%;
    font-size: 16px;
  }
  .signin-input, .btn-main {
    margin-bottom: 20px;
    margin-top: 10px;
    width: 80%;
  }
  .signup-input {
    margin-bottom: 20px;
    width: 80%;
  }
}
